extends layout

block content
  section
    div.list-header
      h1= title 
      span.span-add-item
        a(href='/catalog/category/create') Add category
    div.category-cards-container
      each category in category_list
        article.category-card
          a.category-card-link(href=category.url)
            div.category-card-image-container
              if category.image
                img.category-card-image(src="/uploads/" + category.image alt=category.name)
          p.category-card-name #{category.name}
      else
        li There are no categories.