extends layout

block content
  h1= title

  div(class='categories-container')
    each category in category_list
      div(class='category-item')
        a(href=category.url class='category-link') #{category.name}

    else
      li There are no categories.