extends layout

block content
  section
    div(class='list-header')
      h1= title 
      span(class='span-add-item') 
        a(href='/catalog/category/create' class='') Add category
    div(class='category-cards-container')
      each category in category_list
        article(class='category-card')
          a(href=category.url class='category-card-link')
            div(class='category-card-image-container')
              if category.image
                img(src="/uploads/" + category.image alt=category.name class="category-card-image")
          p(class='category-card-name') #{category.name}
      else
        li There are no categories.