extends layout

block content
  section
    h1 #{title}

    form(method='POST' action='' enctype='multipart/form-data')
      div.form-group
        label.form-label(for='name') Name:
        input#name.form-control(type='text' required='true' name='name' value=(undefined===category ? '' : category.name))
      div.form-group
        label.form-label(for='description') Description:
        input#description.form-control(type='text' required='true' name='description' value=(undefined===category ? '' : category.description))
      div.form-group
        label.form-label(for='image') Image:
        input#image.form-control(type='file' name='category-image')
      if category && category.image
        div.form-check
          label(for='categoy_keep_image' class='form-check-label') Keep previous image  
          input#category_keep_image.form-check-input(type='checkbox' name='category_keep_image' selected='true' checked='true')
        div(class='category-form-image-container')
          img(src="/uploads/" + category.image alt=category.name class="category-form-image mb-1")
      button(type='submit') Submit

    if errors
      ul
        for error in errors
          li!= error.msg