doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      nav.navbar
        ul.navbar-nav-left
          li.nav-item
            a.nav-link(href='/catalog') Home
          li.nav-item
            a.nav-link(href='/catalog/categories') Categories
          li.nav-item
            a.nav-link(href='/catalog/products') Products
        ul.navbar-nav-right
          li.nav-item.nav-item-right
            a.nav-link(href='/catalog/category/create') Add category
          li.nav-item.nav-item-right
            a.nav-link(href='/catalog/product/create') Add product
      main
        block content