*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #fbfbfb;
  font-family: Helvetica, Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #5d3ebc;
  width: 100%;
  padding: 0 20px;
}

.navbar-nav-left,
.navbar-nav-right {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  list-style: none;
  height: 100%;
  gap: 2px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  transition: all 0.2s ease;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.nav-item:hover {
  background-color: #4a2e9b;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px 16px;
  transition: all 0.2s ease;
}

main {
  background-color: #fafafa;
}

section {
  padding: 20px;
  background-color: #ffffff;
}

.hero {
  background-image: url("/images/hero_image.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 4px;
}

h1 {
  font-size: 14px;
}

button a {
  color: white;
  text-decoration: none;
}

.mt-10 {
  margin-top: 10px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.span-add-item {
  display: none;
  font-size: 14px;
  color: #5d3ebc;
  font-weight: 600;
  cursor: pointer;
}

.category-cards-container,
.product-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.category-card,
.product-card {
  list-style-type: none;
  width: 160px;
  padding: 8px 5px;
  border-radius: 4px;
  border: 1px solid #f3f0fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.2s ease;
}

.category-card:hover,
.product-card:hover {
  background-color: #f3f0fe;
}

.category-card-link,
.product-card-link {
  text-decoration: none;
} 

.category-card-image-container,
.product-card-image-container,
.product-form-image-container,
.category-form-image-container {
  width: 120px;
  height: 120px;
}

.category-card-image,
.product-card-image,
.product-form-image,
.category-form-image {
  height: 120px;
  width: 120px;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.product-detail-price,
.product-card-price {
  color: #5d3ebc;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}

.category-card-name,
.product-card-name {
  color: #191919;
  font-weight: 600;
  margin-top: 10px;
}

.product-detail-container {
  display: flex;
  align-items: stretch;
  gap: 20px;
  padding: 32px;
  margin: 20px;
}

.product-detail-image-container {
  width: 400px;
  height: 400px;
}

.product-detail-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.product-detail-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  margin-left: 20px;
}

form {
  width: 50%;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
}

.form-control {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.form-check-input {
  margin-right: 8px;
}

input {
  font-size: 12px;
}

button {
  background-color: #5d3ebc;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 8px 8px 8px 0;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #4a2e9b;
}

@media (max-width: 768px) {
  form {
    width: 100%;
  }
  
  .navbar {
    padding: 0;
  }

  .nav-item {
    padding: 0;
  }

  .nav-link {
    font-size: 16px;
  }

  .nav-item-right {
    display: none;
  }

  .span-add-item {
    font-size: 12px;
    display: block;
  }
}
