body {
  background-color: #fbfbfb;
  height: 100vh;
}

.sidebar {
  background-color: #5d3ebc;
  min-height: 100vh;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  color: white;
}

main {
  background-color: #fafafa;
}

section {
  padding: 20px;
  background-color: #ffffff;
}

.hero {
  background-image: url("/images/hero_image.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  margin-top: 10px;
  border-radius: 4px;
}

.hero h1 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 76px;
}

h1 {
  font-size: 14px;
}

.category-cards-container,
.product-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.category-card,
.product-card {
  list-style-type: none;
  width: 160px;
  height: 200px;
  padding: 8px 5px;
  border-radius: 4px;
  border: 1px solid #f3f0fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.2s ease;
}

.category-card:hover,
.product-card:hover {
  background-color: #f3f0fe;
}

.category-card-link,
.product-card-link {
  text-decoration: none;
} 

.category-card-image-container,
.product-card-image-container,
.product-form-image-container {
  width: 120px;
  height: 120px;
}

.category-card-image,
.product-card-image,
.product-form-image {
  height: 120px;
  width: 120px;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.product-detail-price,
.product-card-price {
  color: #5d3ebc;
  font-weight: 600;
  font-size: 20px;
}

.product-card-name {
  color: #191919;
  font-weight: 600;
}

.product-detail-container {
  display: flex;
  align-items: stretch;
  gap: 20px;
  padding: 32px;
  margin: 20px;
}

.product-detail-image-container {
  width: 400px;
  height: 400px;
}

.product-detail-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.product-detail-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  margin-left: 20px;
}

form {
  width: 50%;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

input {
  font-size: 12px;
}

@media (max-width: 768px) {
  form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .sidebar {
      min-height: min-content;
    }

}
